<div id="body">

    <div>
        <h1>
            توصيات منهجية للنمط الحسي الحركي 
        </h1>
    </div>
    <div>
        <li id="liste">
            <ul>
                يحب أن يتواصل عن طريق اللمس أو الشم

            </ul>
            <ul>
                عاطفي ويحب الاحتواء

            </ul>

            <ul>
                يحب أن يدرس من خلال أشياء ملموسة (يمكن تمثيل الحروف أو الأرقام على  جسمه مثلا)

            </ul>

            <ul>
                كبت الحركة لديه يمكن أن يسبب مشاكل سلوكية كالعدوانية وعدم الثقة بالنفس

            </ul>
        </li>
    </div>
    <div id="button">
        <button (click)="goTo()">أنقر</button>
      </div>

</div>