#body{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#text{
    text-align: center;
    margin-top: 10%;
    font-size: 50px;

}

h2{
    font-size: 60px;
    text-align: center;
    color: rgb(48, 17, 226);
    margin-top: 20px;
  
}

button {
    background-color: #36aef4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: grid;
    margin: 2em auto 0;
    font-size: 20px;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }

  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #07ff6e;
  }

  p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }