#result{
    text-align: center;
    color: rgb(25, 22, 223);
}
#piechart{
    color: aqua;
}
#piechart {
    width: 200px;
    height: 150px;
  }
  #piechart .chartjs-legend ul li span {
    font-weight: bold;
  }

  button {
    background-color: #36aef4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: grid;
    margin: 2em auto 0;
    font-size: 20px;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }

  .image-container {
    display: flex; /* Permet d'afficher les images en ligne */
    justify-content: center; /* Centre les images horizontalement */
    align-items: center; /* Centre les images verticalement */
  }
  
  .image-container img {
    margin: 0 80px; /* Ajoute une marge entre les images */
    height: 100px;
    width: 100px;
    border: 2px solid pink;
    
  }
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #07ff6e;
  }
  
  