<div class="row">
    <div class="col-lg--6">
        <h2 id="result">النتائج</h2>
        <canvas id="piechart"></canvas>
        <div class="image-container">
            <img src="./assets/images/basari.png" alt="Image 1" class="rounded mx-auto d-block">
            <img src="./assets/images/سمعي.png" alt="Image 2" class="rounded mx-auto d-block">
            <img src="./assets/images/hessiHaraki.png" alt="Image 3" class="rounded mx-auto d-block">
          </div>
          

    </div>
    <div id="button">
        <button (click)="goTo()">أنقر</button>
      </div>

</div>