<div id="body">


    <h1>
        توصيات منهجية للنمط البصري 
    </h1>

    <li id="liste">
        <ul>
            يحب الترحاب المبالغ واستقبال مختلف 
        </ul>
        <ul>
            يحب أن يكافأ عن طريق أشياء مرئية 
        </ul>
        <ul>
            يتفاعل مع نظراتك أي يحس بحبك أو بغضبك عن طريق النظرات

        </ul>
        <ul>
            يحب الدراسة عن طريق الصور ويميل أكثر إلى الألوان والأشكال

        </ul>
        <ul>
            يفضل استخدام اللين معه وعدم لومه أو إحراجه خاصة أمام زملائه
        </ul>
    </li>
    <div id="button">
        <button (click)="goTo()">أنقر</button>
      </div>
</div>