<div>

    <h1>
        ألعاب تعليميّة لتدريس الإنتاج الكتابي  
    </h1>

    <div id="grandImage1">
       
        <img src="./assets/images/al3eb1.jpg" alt="" id="grandImag">
    </div>
    
 <div id="jeu">
        <p id="question">
            "لعبة الكوكب المتشعب: ربط الكلمات لتكوين جملة في شكل كوكب "نجمة 
        </p>
 <div id="lo3be">
            <img src="./assets/images/kawkeb.png" alt="" id="image">
           
  </div>
              
              

</div>
        <div id="jeu">
            <p id="question">
                
لعبة الصندوق المغلق: يعيّن مجموعة من التّلاميذ يدخل كلّ منهم يده داخل الصّندوق ويخرج ورقة كتب عليها كلمة ثمّ يقومون بترتيب الكلمات ويصطفون بجانب بعضهم مكونين جملة

            </p>
            <div id="lo3be">
                <img src="./assets/images/sondou9.jpg" alt="">
               
                  </div>
                  
                  
    
            </div>
            <div id="jeu">
                <p id="question">
                                    
                    لعبة القطار: تساعدنا هذه اللّعبة على تدريب الأطفال على إثراء جملة بمجموعة من الكلمات، مثال
                    أكمل كلّ مجموعة بكلمة أو عبارة مناسبة أكتبها داخل العربة
                </p>
                <div id="lo3be">
                    <img src="./assets/images/9itar.png" alt="">
                      </div>
                      
                      
        
                </div>

                <div id="jeu">
                    <p id="question">
                        لعبة الحلقة: يكتب المعلّم جملة على السّبورة فيقوم كلّ تلميذ بإضافة كلمة من معلقات القسم أو يكتبها على اللوحة ثم يلتحق بالمجموعة ويختار مكانا مناسبا وهكذا تكبر حلقة التلاميذ ونتحصل على نصّ ثريّ غنيّ بالمتممات
                    </p>
                    <div id="lo3be">
                        <img src="./assets/images/hala9a.jpg" alt="">
                          </div>
                          
                          
            
                    </div>
        

                    <div id="jeu">
                        <p id="question">
                            لعبة باقة الأزهار: يوزّع المعلّم أزهار ورقية على التلاميذ ضمن مجموعات، فتقوم كل مجموعة بإضافة كلمات من القصاصات المدروسة أو من معجم القسم لتتحصل على جمل يقع ترتيبها وتنظيمها بطرق مختلفة. الفريق الفائز هو الذي تكون باقة أزهاره أكبر من غيره
                        </p>
                        <div id="lo3be">
                            <img src="./assets/images/azhar.png" alt="">
                              </div>
                              
                              
                
                        </div>
            

                        
                        <div id="jeu">
                            <p id="question">
                                لعبة الأشكال: أرتّب حسب الشّكل
                            </p>
                            <div id="lo3be">
                                <img src="./assets/images/achkel.png" alt="">
                                  </div>
                                  
                                  
                    
                            </div>
                            <hr>
                            <h1>
                                ألعاب تعليميّة لتدريس الرّياضيّات
                            </h1>
                            
                            <div id="jeu">
                                <p id="question">
                                    لعبة فريق كرة القدم: تتكون هذه اللّعبة من فريق لكرة القدم معدّ من ورق الكرتون أو مجسمات من الألعاب وتستخدم هذه اللعبة في تعليم الجمع والطرح في الرياضيات 
يطلب المعلم من التلميذ أن يغمض عينيه ثم يخفي بعض اللاّعبين إذا أراد تعليم الطرح أو يضيف لاعبين إذا أراد تعليم الجمع 

                                </p>
                                <div id="lo3be">
                                    <img src="./assets/images/foot.jpg" alt="">
                                      </div>
                                      
                                      
                        
                                </div>
                    

                                
                                <div id="jeu">
                                    <p id="question">
                                        لعبة أبحث مع سامي: تستخدم هذه اللعبة في تعليم الأعداد، حيث يطلب المعلم من التّلاميذ البحث عن عدد معيّن من الأشياء حيث يلجأ المعلّم لطرح اللّعبة على هيئة مشكلة تعرض لها سامي ويحتاج للمساعدة بالبحث عن الأشياء التي يريدها وقد تكون مكعّبات أو أدوات أو قطع نقدية، أو صور أو أي شيء آخر
                                    </p>
                                    <div id="lo3be">
                                        <img src="./assets/images/bahath.jpg" alt="">
                                          </div>
                                          
                                          
                            
                                    </div>
                                    <div id="jeu">
                                        <p id="question">
                                            لعبة المربكات/الشمس: يقوم التلميذ بحساب عدد النقاط ثم يبحث لها عن الرقم/ العدد الموافق لها ويقوم بوضعه في مكانه المناسب
                                        </p>
                                        <div id="lo3be">
                                            <img src="./assets/images/chames.jpg" alt="">
                                              </div>
                                              
                                              
                                
                                        </div>
                                        <div id="jeu">
                                            <p id="question">
                                                لعبة الدّعسوقة: يقوم المعلّم بتعليق هذه  اللّعبة المصنوعة من الصلصال، في السّبورة ثم يعين في كلّ مرّة تلميذ ليقوم بوضع النقاط  ليكمل شكل الدعسوقة بالبقع السوداء وفقا للعدد المطلوب أسفلها
                                            </p>
                                            <div id="lo3be">
                                                <img src="./assets/images/da3sou9a.jpg" alt="">
                                                  </div>
                                                  
                                                  
                                    
                                            </div>
                                            <div id="jeu">
                                                <p id="question">
                                                    لعبة الأعواد الملوّنة: يضع الطّفل الأعواد الموافقة للون وللرقم المطلوب داخل العلبة 
                                                </p>
                                                <div id="lo3be">
                                                    <img src="./assets/images/a3wed1.jpg" alt="">
                                                    <img src="./assets/images/a3wed2.jpg" alt="">
                                                      </div>
                                                      
                                                      
                                        
                                                </div>
                                                <div id="jeu">
                                                    <p id="question">
                                                        لعبة الحصّالة: يقوم المعلّم بوضع الأرقام المكونة لعملية الجمع مع العلامة، ويطلب من التلاميذ وضع الكويرات حسب كل عدد في القارورة المناسبة، ثم جمع عدد الكويرات الحاصلة في الأسفل ووضع النتيجة بالبحث عن الرقم المناسب
                                                    </p>
                                                    <div id="lo3be">
                                                        <img src="./assets/images/hasala.jpg" alt="">
                                                          </div>
                                                          
                                                          
                                            
                                                    </div>
                                                    <div id="jeu">
                                                        <p id="question">
                                                            لعبة الدّودة: يقوم المعلّم برسم دودة منفصلة الأجزاء على السبورة يعني6 أو 5 دوائر منفصلة وفي الأمام يرسم وجه حزين للدّودة )في الدوائر يكتب أرقام لكنّها غير مرتبة ويطلب من التلميذ أن يرتبها بحيث تعطي الشيء المطلوب
ويخبرهم أنّ الدودة حزينة ويجب ترتيب أجزائها حتى تبتسم، وبعدما يرتبونها بالشكل الصحيح يغير وجه الدّودة إلى وجه مبتسم
                                                        </p>
                                                        <div id="lo3be">
                                                            <img src="./assets/images/douda.jpg" alt="">
                                                              </div>
                                                              
                                                              
                                                
                                                        </div>
                                                        <div id="jeu">
                                                            <p id="question">
                                                                لعبة اليدين: تساعد هذه اللّعبة المعلّم في تدريس آليّة الطرح وإنجاز العمليّات بطريقة مبسطة ومحفزة للتلاميذ، حيث تتمثل في تنقيص أصابع واحتساب عدد الأصابع المتبقية 
                                                            </p>
                                                            <div id="lo3be">
                                                                <img src="./assets/images/main.jpg" alt="">
                                                                  </div>
                                                                  <hr>
                                                                  <h1>
                                                                    ألعاب تعليميّة لتدريس التّربية الإسلاميّة
                                                                  </h1>
                                                    
                                                            </div>
                                                            <div id="jeu">
                                                                <p id="question">
                                                                    لعبة علبة المسلم: يضع المعلّم علبة في القسم ويقول للتلاميذ أنّ كل من يقوم بعمل/ سلوك سليم مثلا (يساعد أمّه في ترتيب البيت، لا يكذب، يساعد رجل أو امرأة عجوز، يرتب غرفته قبل الذهاب للمدرسة، لا يؤذي أحدا، لا يشتم، لا يضرب..) يكتب ما فعله في قصاصة ويكتب اسمه عليها ثم يضعها في العلبة، وفي نهاية كلّ أسبوع يقوم المعلّم بتفريغ العلبة وأكثر اسم تكرر في القصاصات له جائزة
                                                                </p>
                                                                <div id="lo3be">
                                                                    <img src="./assets/images/3olba.jpg" alt="">
                                                                      </div>
                                                                      
                                                                      
                                                        
                                                                </div>
                                                                <div id="jeu">
                                                                    <p id="question">
                                                                        لعبة دحدوح المشاكس: يضع المعلّم مجسّم لشخصية "دحدوح المشاكس" ويروي للتلاميذ قصصا عنه مثلا (لا يغسل يديه بعد الأكل، لا يريد الاستحمام، ثيابه موسخة، لا يحب النظافة..) ويقوم التلاميذ بإبداء رأيهم ونصحه 
                                                                    </p>
                                                                    <div id="lo3be">
                                                                        <img src="./assets/images/dahdouh.jpg" alt="">
                                                                          </div>
                                                                          
                                                                          
                                                            
                                                                    </div>
                                                                    <div id="jeu">
                                                                        <p id="question">
                                                                            لعبة الدّمى: يروي المعلّم قصّة تحتوي على موعظة على لسان الجدّة، "كالإحسان إلى الوالدين" ومن خلالها يستنتج التلميذ السلوك السليم أو العبرة من القصّة
                                                                        </p>
                                                                        <div id="lo3be">
                                                                            <img src="./assets/images/dammi.jpg" alt="">
                                                                              </div>
                                                                              
                                                                              
                                                                
                                                                        </div>
                                                                        <div id="jeu">
                                                                            <p id="question">
                                                                                لعبة القرص الدائر: يكتب المعلّم عليه آداب الجلوس كل يوم عندما يدخل التلميذ القسم يدير القرص ويلتزم طوال تلك الحصّة بتطبيق السلوك الذي أشار له السهم الموجود على القرص مثال (التحية، الاستقامة، احترام الجالسين قربي، عدم التجسّس على الآخرين..)
                                                                            </p>
                                                                            <div id="lo3be">
                                                                                <img src="./assets/images/9ores.png" alt="">
                                                                                  </div>
                                                                                  
                                                                                  
                                                                    
                                                                            </div>
 <div id="jeu">
 <p id="question">
 </p>
 <div id="lo3be">
                                                                                   
     </div>
                                                                                      
     </div>


     <div id="jeu">
        <p id="question">
        </p>
        <div id="lo3be">
                                                                                          
            </div>
                                                                                             
            </div>


            <div id="jeu">
                <p id="question">
                </p>
                <div id="lo3be">
                                                                                                  
                    </div>
                                                                                                     
                    </div>



                    <div id="jeu">
                        <p id="question">
                        </p>
                        <div id="lo3be">
                                                                                                          
                            </div>
                                                                                                             
                            </div>
                            <hr>

<h1>
    ألعاب تعليمية لتدريس القراءة

</h1>

<h2>
    مرحلة الشمول

</h2>

                            <div id="jeu">
                                <p id="question">
                                    لعبة بائع الكلمات : يبيع أحد التلاميذ قصاصات تحتوي على مفردات يقتنيها البعض, تقرأ ثم يكوّن بها جملة أو أكثر

                                </p>
                                <div id="lo3be">
                                    <img src="./assets/images/ba2e31.png" alt="" id="image"> 
                                    <img src="./assets/images/ba2e32.png" alt="" id="image">
                                    <img src="./assets/images/ba2e33.png" alt="" id="image">                                                                      
                                    </div>
                                                                                                                     
                                    </div>

                                    <div id="jeu">
                                        <p id="question">
                                            لعبة موزع البريد : يتصّل بعض التلاميذ برسالة من موزّع البريد ,يفتحها ويخرج ما بداخلها من مفردات ويرتبها للحصول على جملة 
مفيدة وعلى البقية إعادة ترتيب الجملة

                                        </p>
                                 <div id="lo3be">
                                            <img src="./assets/images/barid1.png" alt="" id="image">
                                            <img src="./assets/images/barid2.png" alt="" id="image">
                                            <img src="./assets/images/barid3.png" alt="" id="image">
                                            <img src="./assets/images/barid4.png" alt="" id="image">
                                           
                                  </div>
                                              
                                              
                                
                                </div>


                                <div id="jeu">
                                    <p id="question">
                                        ألعاب الربط:
ربط صورة بمفردة/ربط مفردة بصورة
ربط مشهد بجملة/ربط جملة بمشهد

                                    </p>
                             <div id="lo3be">
                                        
                              </div>
                                          
                                          
                            
                            </div>



                            <div id="jeu">
                                <p id="question">
                                    لعبة نجم الحصة:
يقرأ المتعلم من الشاشة جملة من النّص ويتصرّف فيها بالتعويض أو  بالتبديل أو الإثراء قراءة صحيحة مسترسلة ومنغّمة مع حسن تقمص الدور وتبدي لجنة التحكيم رأيها ( بقيّة القسم)

                                </p>
                         <div id="lo3be">
                                    <img src="./assets/images/najem.jpg" alt="" id="image">
                                   
                          </div>
                                      
                                      
                        
                        </div>
<h2>
    مرحلة التحليل
</h2>

                        <div id="jeu">
                            <p id="question">
                                لعبة الحمامة الطائرة: يقف التلاميذ وتبدأ المعلمة بذكر كلمات متنوعة تحتوي ولا تحتوي على الحرف المطلوب .عند ذكر الكلمات التي تحتوي على الحرف يقوم الأطفال بتجسيد فعل الطيران والعكس ومن يخطئ يجلس

                            </p>
                     
                                  
                                  
                    
                    </div>





                    <div id="jeu">
                        <p id="question">
                            لعبة المفتش: تتمثل في البحث عن كلمات تحتوي على الحرف الجديد من معلقات القسم,الأثاث,الأدوات,التلاميذ(الأسماء,الثياب,اللمجة)
المفتش الماهر هو من يجمع أكبر عدد من الكلمات في وقت قصير 

                        </p>
                 
                              
                              
                
                </div>




                <div id="jeu">
                    <p id="question">
                        لعبة الضوابط: تتمثل في تلوين الحرف الجديد ضمن كلمات مكتوبة على السبورة يوجد بها الحرف في مواضع مختلفة مع جميع الضوابط:صـَ،صـُ،صـِ،صَا،صُو،صِي،صًا،صٌ،صٍ.......

                    </p>
             
                          
                          
            
            </div>



            <div id="jeu">
                <p id="question">
                    لعبة التجسيم: تتمثّل في صناعة الحرف بمواد مختلفة ك:
صناعة حرف القاف من عجين السكر فيتذوق الأطفال الحرف مع حلاوة العجين
صناعة حرف العين من بتلات الأزهار فتعلق الصورة مع رائحة بالحرف
ويمكن استعمال الصلصال،الخيوط,الأوراق اللاصقة,الأزرار......
وغيرها من المواد في تجسيد الحرف

                </p>
         
                      
                      
        
        </div>
                        
<h2>
    مرحلة التركيب
</h2>

<div id="jeu">
    <p id="question">
        تقترح المعلمة على التلاميذ اسم مكان ما وتطلب منهم البحث عما يمكن شراؤه من ذلك المكان مع وجوب أن تبدأ أسماء المشتريات بالحرف المطلوب:
مغازة: موز, مزمار,محفظة....
سوق: سروال, سلة , سمكة....
    </p>

</div>

<div id="jeu">
    <p id="question">
        لعبة المباراة: يقسم التلاميذ إلى مجموعات وكل مجموعة تسحب ظرف يحتوي على مقطع ثمّ يقوم الأطفال على الألواح الجماعية  بتكوين أكبر عدد ممكن من الكلمات بهذا المقطع
يفوز الفريق الذي كوّن أكبر عدد من الكلمات بخط جميل ودون أخطاء

    </p>
    <div id="lo3be">
        <img src="./assets/images/saa.png" alt="">
        <img src="./assets/images/mobarat1.png" alt="">
        <img src="./assets/images/mobarat2.png" alt="">

    </div>


</div>
<div id="grandImage">
    <img src="./assets/images/baadlmobarat.jpg" alt="" id="grandImag">
</div>
<hr>
<h1>
    ألعاب تعليمية لتدريس الإيقاظ علمي
</h1>

<div id="jeu">
    <p id="question">
        لعبة وردة الحواس: للتعرّف على الحواس يقوم الأطفال بترتيب الأفعال المرتبطة بكل حاسة في شكل وردة

    </p>
    <div id="lo3be">
        <img src="./assets/images/hawas1.jpg" alt="" id="image">
        <img src="./assets/images/hawas2.jpg" alt="" id="image">
       
</div>

</div>


<div id="jeu">
    <p id="question">
        لعبة التجسيد: للتعرّف على كيفيّة وقاية الحواس يأخذ الطفل ظرفا يحتوي على عادة معيّنة ويقوم بتجسيدها ويصوّت البقية بنعم أم لا

    </p>
    

</div>


<div id="jeu">
    <p id="question">
        لعبة ملء المعدة: للتعرّف على الغذاء الصحي والغير الصحي يقوم الأطفال بملء المجسمات بصور للأغذية

    </p>
    <div id="lo3be">
        <img src="./assets/images/ma3ed1.jpg" alt="" id="image">
        <img src="./assets/images/ma3ed2.jpg" alt="" id="image">
        <img src="./assets/images/ma3ed3.jpg" alt="" id="image">
       
</div>
</div>


<div id="jeu">
    <p id="question">
        لعبة المتاهة: يقوم الطفل بربط الحيوان بأكله المناسب للتعرّف على نوعه عاشب,لاحم,كالش

    </p>
<div id="lo3be">
    <img src="./assets/images/mataha1.jpg" alt="" id="image">
        <img src="./assets/images/mataha2.png" alt="" id="image">

</div>
</div>


<div id="jeu">
    <p id="question">
        لعبة المنطاد/البالون: نضع بالونا يحمل اسم اليوم الفارط ليطير ويعلق الطفل بالونا آخر يحمل اسم اليوم وبذلك يستوعب التسلسل الزمني بين اليوم/البارحة وغدًا كما يحفظ أيام الأسبوع 

    </p>

    <div id="lo3be">
        <img src="./assets/images/baloun1.png" alt="" id="image">
            <img src="./assets/images/baloun2.jpg" alt="" id="image">
            <img src="./assets/images/baloun3.jpg" alt="" id="image">
    
    </div>

</div>


<div id="jeu">
    <p id="question">
        لعبة اللافتات: يحمل الأطفال لافتات تحتوي على الليل والنهار ويذكر المعلم مجموعة من الأعمال فيختار الأطفال أيّهما يحصل في الليل وأيّهما في النهار

    </p>
    <div id="lo3be">
        <img src="./assets/images/lafitet.jpg" alt="" id="image">
           
    </div>

</div>
                                    
                                    

    

    </div>
